<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:title="${title}">ホテルTopページ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script th:src="@{/js/hotel/header.js}" defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer></script>

    <th:block th:fragment="head"></th:block>
</head>
<body>
    <div class="wrapper">
        <nav layout:replace="~{layout/header::header}"></nav>
        <!-- メッセージ -->
        <div th:if="${successMessage}" class="alert alert-success" role="alert">
            <div th:text="${successMessage}"></div>
        </div>


        <main class="main">
            <div layout:fragment="content"/>
        </main>

        <div layout:replace="~{layout/footer::footer}"></div>
    </div>

</body>
</html>