/* styles.css */
ul {
    padding-left:0;

}

a {
    text-decoration: none;
}


ul li {
    margin-bottom: 0 10px;
    text-align:center;
    list-style: none;
    font-size: 85%;
}

li a {
    display: block; /* aタグをブロック要素に */
    text-decoration: none; /* 下線などの装飾を消す場合 */
    margin: 0;
    padding: 0;
    text-align:center;
    vertical-align: middle; /* 必要に応じて調整 */
    text-decoration:underline;/*下線を引く*/
}

li p {
    text-decoration:underline;/*下線を引く*/
}

.header_container {
  width: 100%;
  position: fixed !important;/*←絶対位置*/
  top: 0; /*上に固定*/
  height: 60px;
  padding: 20px 60px;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 500;
}

.header_main_item {
    background-color: #333;
    color: #fff;
    text-align: center;
    height:2em;
    margin: auto 0;
}

.header_item1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    height:1.5em;
    margin: auto 0;

}

.header_item2 {
    display: inline;
    background-color: #333;
    color: #fff;
    text-align: center;
    height:1.5em;
    text-decoration: none

}
.header_item3 {
    background-color: #333;
    color: #fff;
    text-align: center;
    height:1.5em;
    text-decoration: none
}

body{
  overflow-x: hidden;
  z-index: 100;
  height: 100%;
  }
.header-area{
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0 40px;
  align-items: center;
}
.hamburger{
  width: 40px;
  height: 25px;
  position: relative;
}
.hamburger span{
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: .5s;/* 追記 */
}
.hamburger span:first-of-type{/* ハンバーガーメニューの1番目の線 */
  top: 0;
}
.hamburger span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
  top: 50%;
}
.hamburger span:last-of-type{/* ハンバーガーメニューの3番目の線 */
  top: 100%;
}
.slide-menu{
  background-color: #333;
  position: fixed;
  top: 60px;
  width: 100%;
  left: 0;
  transform: translateX(100%);
  transition: .5s;/* 追記 */
  z-index: 1000;
}

.hamburger.active span:first-of-type{/* ハンバーガーメニューの1番目の線 */
  top: 50%;
  transform: rotate(45deg);
}
.hamburger.active span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
  opacity: 0;/* 透明にする */
}
.hamburger.active span:last-of-type{/* ハンバーガーメニューの3番目の線 */
  top: 50%;
  transform: rotate(-45deg);
}
.slide-menu.active{
  transform: translateX(0);
}


.footer_item {
    background-color: #333;
    color: #fff;
    text-align: center;
    height:auto;
    margin: auto 0;
}


.searchHotel {
    margin: auto;
    text-align: center;
}

.new-photos{
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
}

.photo-grid-item {
    text-align: center; /* 中央揃え */
    width: 100%;
    padding-bottom: calc((100% - 10px) / 2); /* 縦横比を維持するための方法 */
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}

.photo-grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像を親要素に完全にフィットさせる */
}

.hotel-container {
    border: 1px solid #ccc; /* 枠線を追加 */
    padding: 20px; /* コンテンツと枠の間に余白を追加 */
    margin-bottom: 20px; /* ホテルごとの間に余白を追加 */
    display: flex; /* Flexboxを使用して要素を横並びにする */
    align-items: flex-start; /* 子要素を上端に配置する */
}

.hotel-photo {
    width: 100%; /* ホテル写真を親要素に合わせて幅を設定 */
    padding-bottom: 75%; /* ホテル写真のアスペクト比（4:3など）に応じて調整 */
    overflow: hidden; /* オーバーフローを隠す */
    position: relative;
    z-index: 50;
}

.wrapper {
    position: relative;/*←相対位置*/
    padding-top: 60px;
    padding-bottom: 20px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
    min-height: 100vh;
}


.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
　padding: 30px 0;
  justify-content: space-between;
  text-align: center;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}



