h2 {
    text-align:center;
}

.hotel_image {
    text-align:center;
}

.hotel_image img {
    width: 70%;
    height: auto;
}

.container {
    display: flex;
}

.table-container {
    flex: 1;
    margin-right: 10px;
}

.form-container {
    flex: 1;
    border: 1px solid #000000;
}