<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>reset-password-page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <!-- メッセージ -->
    <div th:if="${failureMessage}" class="alert alert-warning" role="alert">
        <div th:text="${failureMessage}"></div>
    </div>
    <p>新規パスワードを入力してください。</p>
    <form action="#" th:action="@{/reset-password}" method="post">
        <label for="newPassword">新規パスワード</label>
        <input type="password" name="newPassword" id="newPassword" th:value="${newPassword}"/>
        <input type="hidden" name="token" id="token" th:value="${token}"/>
        <button type="submit">送信</button>
    </form>

    <a th:href="@{/}">Topページに戻る</a>
</body>
</html>